name: LocalRunnerTest
 
env:   
  # Optionally provide the APP_NAME and TAG, or they will be auto-computed.
  APP_NAME: ""
  TAG: "latest"
on:
  # https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows
  push:
    # Edit to the branch(es) you want to build and deploy on each push.
    branches: [ main ]
jobs:
  test-shell:
    name: Base RH Image CLI Workflows
    runs-on: self-hosted 
    steps:
    - uses: actions/checkout@v2
    - name: shell command - show files 
      run: |
        pwd
        echo Files in root dev
        ls -al 
    - name: shell command - run buildah 
      run: | 
        echo Running CRC on local runner test
        f:\bin\localcrc.bat
        oc get nodes
        echo Done Running buildah  
    - name: shell command - post buildah 
      run: |  
        ls -al 
 
 
 
 
  
