name: run-crc-self-hosted-actions
env:    
  DEPLOY: "deploy-openshift"
on:
  # Learn more about events https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows
  push:
    # Edit to the branch(es) you want to build and deploy on each push.
    branches: [ main ]
jobs:
  test-shell:
    name: Use CRC and Sample App Testing
    runs-on: self-hosted 
    steps:
    - uses: actions/checkout@v2 
    - uses: actions/checkout@v2 
      with:
        repository: 'https://github.com/jduimovich/graphtuitous'
        path: 'graphtuitous'    
    - name: Show me 
      run: | 
        du -a graphtuitous 
    - name: Install oc using redhat-actions/oc-installer
      uses: redhat-actions/oc-installer@v1
      with:
        version: '4.6'
    - name: Setup CRC 
      run: | 
        echo "Setup CRC on local machine using crc-scripts "
        echo "TBD: This was done manually for now  "
    - name: Start CRC
      run: | 
        echo "Starting CRC - scripts/linux/crc-start"
        sh scripts/linux/crc-start
    - name: Login CRC 
      run: | 
        echo "Login CRC scripts/linux/crc-login"
        sh scripts/linux/crc-login
    - name: Test OC
      run: |  
        oc get nodes
    - name: Deploy Sample App
      run: |  
        oc apply -f deploy-openshift
    - name: Stop CRC
      run: |  
        echo NOOP sh scripts/linux/crc-stop

 
 
 
  
