name: LocalRunnerTest
 
env:   
  # Optionally provide the APP_NAME and TAG, or they will be auto-computed.
  APP_NAME: ""
  TAG: "latest"
on:
  # https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows
  push:
    # Edit to the branch(es) you want to build and deploy on each push.
    branches: [ main ]
jobs:
  test-shell:
    name: Base RH Image CLI Workflows
    runs-on: self-hosted 
    steps:
    - uses: actions/checkout@v2
    - name: Determine app name
      if: env.APP_NAME == ''
      run: |
        echo "APP_NAME=$(basename $PWD)" | tee -a $GITHUB_ENV
    - name: Determine tag
      if: env.TAG == ''
      run: |
        echo "TAG=${GITHUB_SHA::7}" | tee -a $GITHUB_ENV
    - name: shell command - show files 
      run: |
        pwd
        echo Files  
        ls -al 
    - name: shell command - run buildah 
      run: | 
        echo Running buildah normal
        sudo /usr/bin/buildah bud -f Dockerfile --format docker -t $APP_NAME:$TAG  $APP_NAME
        echo Done Running buildah  
 
 
 
 
  
